<!DOCTYPE html>
<html>
<head>
  <style>html{visibility: hidden;opacity:0;}</style>
  <title></title>
  <%= stylesheet_link_tag "monokai-sublime", "article.css", "all.css"  %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:500|Lato:300,400" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
</head>

<body>
   <script src="/javascripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
   <ul class="nav-grid">
    <li><%= link_to 'HOME', "/index" %></li>
    <li><%= link_to 'PROJECTS', "/projects" %></li>
    <li><%= link_to 'ARTICLES', "/logs" %></li>
  </ul>
  <div class="article">

    <%= yield %>

  </div>
  <%= link_to 'Articles', '/logs'%>
  <script async src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
</body>
</html>
